/* Common */
html {
    font-size:100%;
}
body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size:100%;
    margin-left:3em;
    color:#444;
    line-height:1.3em;
    background:#fff top left repeat-x;
}

img {
    border:none;
}


/* Headlines */
h1,h2,h3 { font-family: "Lucida Grande", Arial,Helvetica; }
h1 { font-size:1.8em; text-align:center;}
h2 { font-size:1.6em; margin:0 0 1em 0; ;}
h3 { font-size:1.2em; color:#CC0066;}


/* Links */
a,
a:visited,
a:link {
    color:#b53821;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

img {
    border="0";
    
}
