/* Last major modification on 2012/08/31 by lina*/
/* Common */
html {
    font-size:100%;
}
body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size:75%;
    margin:0;
    color:#444;
    line-height:1.5em;
}

img {
    border:none;
}

/* Structure */
.inner {
    width:960px;
    padding:0 20px;
    margin:0 auto;
}

.update {
    text-align:right;
}

/* Headlines */
h1,h2,h3 { font-family: "Lucida Grande", Arial,Helvetica;}
h1 { font-size:1.8em; margin-left:21em; color:#b53821;}
h2 { font-size:1.6em; margin:0 0 1em 0;}
h3 { font-size:1.2em; }

/* Links */
a,
a:visited,
a:link {
    color:#b53821;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

code {
    font-size:1.2em;
    font-weight:normal;
}

pre {
    padding:.5em;
    background:#f6f6f6;
    display:block;
    margin:1em 0;
}

/* Header */
/* Logo bar */
header#logobar {
    height:90px;
}
header#logobar #search {
    float:right;
}
header#logobar form {
    margin:10px 0 0 0;
}
header#logobar #logo {
    float:left;
    display:block;
}
header#logobar #search input { 
    width:290px;
    border:1px solid #ddd;
    padding:5px;
}
header#logobar h1 {
    color:rgb(202,50,34);
    font-size:1.5em;
    padding:32px 220px;
}


/* Navigation Bar */
nav {
    background:#EDDA74;
    width:100%;
    text-align:center;
}
nav ul {
    background:#EDDA74;
    padding:0;
    margin:0;
    width:960px;
    font-size:1.2em;
}
nav li {
    display:inline-block;
}
nav li a,
nav li a:link,
nav li a:visited {
    padding:8px 1.25em;
    background:#EDDA74;
    color:#808000;
    text-decoration:none;
    border-right:1px solid #EDDA74;
}
nav li a:hover {
    background:#FCDFFF;
}
nav li.active a {
    background:#EDDA74;
}

/* Main content */
article {
    clear:both;
    padding:18px 0;
}

/* Columns */
.column {
    width:290px;
    float:left;
    padding:13px 13px 13px 0;
    margin:0 25px 0 0;
}
.column.last {
    margin:0;
    border-right:none;
}
.column.special {
    background:#f6f6f6;
    padding:13px;
    margin:0 13px 13px -13px;
    width:300px;
}

article .column.special ul li {
    padding-left:0;
    margin-left:-2em;
} 

article .column.special ol li {
    margin-left:-2em;
    padding-left:0;
}

article .column ol li{
    margin-left:-2em;
    padding-left:0;
}

article .column ul li{
    margin-left:-2em;
    padding-left:0;
}

#platforms { 
    text-align:center; 
    margin:2em 0;
}

/* Footer */
footer {
    clear:both;
    margin:2em 0 0 0;
    background:#fff;
    color:#fff;
    padding:24px 0 0 0;
    height:24px;
    font-size:1.1em;
}
#copyright {
    background:#fff;
    color:#000;
    font-size:.9em;
    padding:10px 0;
    text-align:center;
}

